// Main Footer
// --------------------------------------------------------------------------

.main-footer {
  display: grid;
  padding:
    var(--responsive-padding-top-inner)
    var(--responsive-padding-right-left)
    var(--responsive-padding-bottom-inner)
    var(--responsive-padding-right-left);
  background-color: $dark;
  color: $lighter;
  grid-template-columns: 1fr 1fr;

  & > p {
    margin: 0;
  }
}

// Date
// --------------------------------------------------------------------------

.date {
  text-align: right;
}
