// Main Navigation
// --------------------------------------------------------------------------

.main-navigation {
  position: sticky;
  z-index: $level-overall-nav;
  top: 0;
  display: grid;
  padding:
    0
    var(--responsive-padding-right-left)
    0
    var(--responsive-padding-right-left);
  margin:
    var(--responsive-padding-top-inner)
    0
    var(--responsive-padding-bottom-inner)
    0;
  background-color: $lightest;
  gap: var(--responsive-gap);
  grid-template-columns: max($tile-xs) 1fr;
  transition: padding $tr-fast;

  &.is-loose {
    padding-top: var(--responsive-padding-top);
    padding-bottom: var(--responsive-padding-top);
  }

  &.is-sticky{
    position: sticky;
  }

  &.is-reduced{
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: $shadow-xs;
  }

  & > h2 {
    margin: 0;
    color: $darken-strong;
    font-size: $xl;
    font-weight: $fw-light;
  }
}


// Logo
// --------------------------------------------------------------------------

// .logo {
//   position: absolute;
//   top: calc(var(--responsive-padding-top) / 2);
//   left: -200px;
//   display: flex;
//   width: fit-content;
//   align-items: center;
//   justify-content: center;
//   padding: $xxs;
//   aspect-ratio: 1/1;
//   background-color: $darken;
//   border-radius: 50%;
//   color: $accent-dark;
//   font-size: $l;
//   opacity: 0;
//   transition: left $tr-medium $tr-medium, background-color $tr-fast, color $tr-fast, opacity $tr-slow $tr-medium;
//   transition-timing-function: ease-out;
//   vertical-align: center;
// 
//   &:hover {
//     background-color: $darken-strong;
//     color: $accent;
//   }
// 
//   &.is-active {
//     left: var(--responsive-padding-right-left);
//     opacity: 1;
//   }
// }

// Secondary Navigation
// --------------------------------------------------------------------------

.secondary-navigation{
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

// Search Navigation
// --------------------------------------------------------------------------

.nav{
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: $radius-s;
  gap: $xxs;

  &:hover{
    opacity: 1;
  }
  
  &-item{
    $self: &;
    display: flex;
    align-items: center;
    border-bottom: solid $border-stroke-weight $lightest;
    background-color: $lighter;

    &__icon{
      display: flex;
      width: $xxxl;
      height: $xxxl;
      align-items: center;
      justify-content: center;
      background-color: $darken;
      background-position: $xxxl center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__text{
      padding-right: $s;
      padding-left: $s;
    }

    &:hover{
      border-bottom-color: $accent;

      #{ $self }__icon{
        background-position: center center;
        color: transparent;
      }
    }
  }
}

// Options
// --------------------------------------------------------------------------

.options{
  display: flex;
  flex-direction: row;
  margin-left: $xs;
  background-color: transparent;

  &__trigger{
    padding: 0;

    margin: 0;
    
    $this: &;

    &[data-state=active]::after{
      transform: rotate(270deg);
    }
    &::after {
      color: $accent;
      content: "more_vert";
      font-family: Material Icons;
      font-size: 1.89rem;
      transition: transform $tr-fast;
    }
    &:hover::after{
      transform: rotate(90deg);
    }
  }

  .switcher{
    display: flex;
    flex-direction: row;
    transition: padding $tr-slow;

    &[data-state=inactive]{
      display: none;
      padding-right: 0;
      padding-left: 0;
      background-color: transparent;
    }

    &[data-state=active]{
      padding-right: $l;
      padding-left: $l;
    }

    .lang-selector{
      flex: 0 1 auto;

      &__item {
        display: inline;
        cursor: pointer;
        opacity: $op-medium;

        &--is-active {
          opacity: 1;
        }
      }
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: $s $xs;
      margin-right: $xs;
      margin-right: 0;
    }

    .switcher-item + .switcher-item {
      padding-left: $xs;
      border-left: solid $border-stroke-weight $accent;
    }
  }
}
