<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cda Gemälde // {{ title }}</title>

    <link
      rel="icon"
      type="image/png"
      href="/assets/images/outline_face_black_24dp.png"
    />
      <link href="{{'/compiled-assets/main.css' | url }}" rel="stylesheet">
      <link href="{{'/assets/images/favicon.svg' | url }}" rel="icon" type="image/svg">

  </head>
  <body>

      {{ content | safe }}
  </body>
</html>
